<fieldset>
    <legend>
        Login</legend>
    <label for="mail">
        Email :
        <input #mail type="text" />
    </label>
    <label for="password">
        Mot de passe :
        <input #password type="text" />
    </label>
    <label for="passwordConfirm">
        Confirmer le mot de passe :
        <input #passwordConfirm type="text" />
    </label>
    <button (click)="registerUser(mail.value,password.value,passwordConfirm.value)"
        class="mt-4 px-4 py-2 bg-blue-500 text-white rounded">
        Connexion</button>
</fieldset>